<!-- ページ固有設定メタデータ -->
<meta property='og:title' content='{{pageMeta.title}}' />
<meta property='og:description' content='{{pageMeta.description}}' />
<meta property='og:url' content='{{envUrl}}{{pageMeta.path}}' />
<meta property='og:type' content='{{pageMeta.type}}' />
<meta property='og:image' content='{{envUrl}}{{pageMeta.ogpImage}}' />
<meta name='twitter:title' content='{{pageMeta.title}}' />
<meta name='twitter:description' content='{{pageMeta.description}}' />
<meta name='twitter:url' content='{{envUrl}}{{pageMeta.path}}' />
<meta name='description' content='{{pageMeta.description}}' />
<link rel='canonical' href='{{envUrl}}{{pageMeta.path}}' />
<title>{{pageMeta.title}}</title>