<!-- ページ固有設定メタデータ -->
<meta property="og:title" content="{{pageMeta.title}}">
<meta property="og:description" content="{{pageMeta.description}}">
<meta property="og:url" content="{{appUrl}}{{pageMeta.path}}">
<meta property="og:type" content="{{pageMeta.type}}">
<meta property="og:image" content="{{appUrl}}{{pageMeta.ogpImage}}">
<meta name="twitter:title" content="{{pageMeta.title}}">
<meta name="twitter:description" content="{{pageMeta.description}}">
<meta name="twitter:url" content="{{appUrl}}{{pageMeta.path}}">
<meta name="description" content="{{pageMeta.description}}">
<link rel="canonical" href="{{appUrl}}{{pageMeta.path}}">
<title>{{pageMeta.title}}</title>
